<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/route.xsd">
    <router id="admin">
        <route id="trainee" frontName="trainee">
            <module name="Icube_Training" />
        </route>
    </router>
</config>
 